@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-asap: "Asap", sans-serif;
  --font-mplus: "M PLUS 1p", sans-serif;
  --font-dscript: "Dancing Script", cursive;
}

* {
  scroll-behavior: smooth;
}

/* input styles */
input[type="text"],input[type="password"],
input[type="email"],input[type="number"], 
input[type="tel"],
textarea {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
}

/* LoginPage Styles in index.css */
.login-container {
  @apply flex justify-center items-center;
}

.login-box {
  @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col;
}

.login-title {
  @apply text-3xl font-bold text-center mb-4;
}

.login-label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.login-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
}

.login-password-input {
  @apply login-input border-red-500 mb-3;
}

.password-error {
  @apply text-red-500 text-xs italic;
}

.login-button {
  @apply bg-dblue hover:bg-mblue text-white font-bold py-2 px-4 rounded-full focus:outline-none;
}

.forgot-password-link {
  @apply inline-block align-baseline font-bold text-sm text-mblue hover:text-dblue;
}

.create-account-link {
  @apply text-lblue hover:text-dblue font-thin px-4 mt-4 focus:outline-none;
}

.account-nav {
  @apply shadow-md font-asap text-gray-200 px-4 py-2 bg-dblue rounded-full;
}

/* Leaflet container style */
.leaflet-container {
  height: 100vh;
  width: 100wh;
}

.index-container {
  @apply container bg-lblue rounded-lg shadow-md shadow-lbrown flex flex-col items-center justify-normal py-4 my-8 px-4 mx-auto w-full max-w-4xl;
}

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 10px;
}

.pricing-services-container, .specials-packages-container {
  border: 1px solid;
  padding: 20px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.services-containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 768px) {
  .services-containers {
    flex-direction: column;
  }
}

.products-page {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  gap: 2px;
  align-items: center;
  margin: 0 auto; /* Add this line to center align the products page */
}

.page-heading {
  @apply font-dscript font-bold text-lblue text-5xl
}

.spinning-image {
  animation: spin 8s linear infinite;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg);
  }
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wordslogo-image {
  position: absolute;
  z-index: 2;
}

.page-title {
  @apply text-5xl font-bold font-dscript text-lbrown text-center
}